<nav class="navbar navbar-expand bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <a class="navbar-brand" routerLink="/" routerLinkActive="active">Home</a>
            <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">DashBoard</a>
            <a class="navbar-brand" href="#" routerLinkActive="active">Help</a>
            <a class="navbar-brand" href="#" routerLinkActive="active">Contact</a>
        </ul>
          <button routerLink="/login" *ngIf="!_authService.loggedIn()" mat-raised-button >login</button>&nbsp;&nbsp;
          <button routerLink="/signup" *ngIf="!_authService.loggedIn()" mat-raised-button >Signup</button>
          <button *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()" mat-raised-button >LogOut</button>
      </div>
    </div>
  </nav>
